{% extends "prices/base.html" %}
{% block content %}

{% for post in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
    {% endfor %}



<table class="table">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Itemstring</th>
        <th scope="col">Amount</th>
        <th scope="col">Price in MG</th>
      </tr>
    </thead>
    <tbody>
    {% for item in itemlist %}
      <tr> 
        <td>{{ item.description }}</td>
        <td>{{ item.itemstring }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.price }}</td>
      </tr>
    {% endfor %}
      </tr>
    </tbody>
  </table>
{% endblock content %}